{% extends 'customer/layouts/base.html' %}

{% block content %}
<div style="padding: 35px; height: 20%; width: 100%; font-size: 15px;">
    <h1>Product Catalog</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4 col-sm-6">
                <div class="card h-100 d-flex flex-column">
                    <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                    <div class="card-body flex-grow-1">
                        <h4 class="card-title" style="font-size: 15px;">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h4>
                        <h5 style="font-size: 15px;">{{ product.price }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer">
                        <form method="post" action="#"> 
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}

<!-- {% url 'inventory:add_to_cart' id=product.id %} -->